WCF/ScottsWebClient/ScottsWebClient/Service References/ScottsServiceReference/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ScottsService.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ScottsService.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GetMoneyRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnnualSalary" type="xs:int" />
      <xs:element minOccurs="0" name="WeeklyHoursWorked" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetMoneyRequest" nillable="true" type="tns:GetMoneyRequest" />
  <xs:complexType name="GetMoneyResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Daily" type="xs:int" />
      <xs:element minOccurs="0" name="Hourly" type="xs:decimal" />
      <xs:element minOccurs="0" name="Monthly" type="xs:int" />
      <xs:element minOccurs="0" name="Weekly" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetMoneyResponse" nillable="true" type="tns:GetMoneyResponse" />
</xs:schema>